.btn {
  width: 12rem;
  height: 4rem;
  background-color: black;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.6rem;
  border-radius: .8rem;
  border: none;
}
