@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap");
.header__container {
  width: 62rem;
  height: 16rem;
  display: flex;
  border-radius: 1.4rem;
  background-color: #F5F5F7;
}

.header__container--h1 {
  display: flex;
  flex-direction: column;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 3.6rem;
  font-weight: bold;
  margin-left: 3.1rem;
  margin-top: 4.62rem;
}

.header__container--text {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.header__container--image {
  display: flex;
  flex: 1;
  width: 17.5rem;
  height: 19.1rem;
  margin-top: -3.1rem;
}
