@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

.nav__container {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
  width: 13.2rem;
  height: 85.2rem;
  background-color: black;
  border-radius: 2.4em;
  margin: 2rem 0 0 3.2rem;
}

.nav__container__logo{
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 1.56rem;
    height: 10.2rem;
    font-size: 6.4rem;
    font-weight: bold;
}

.nav__container__icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
  flex: 1;
  margin-left: 5.2em;
  margin-right: 5.2em;
}
.nav__container__icons--img {
  width: 2.6rem;
  height: 2.6rem;
  margin-top: 6.4rem;
}
.nav__container__icons--img:hover, .nav__container__logout--img:hover {
  color: yellowgreen;
  cursor: pointer;
}

.nav__container__logout{
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav__container__logout--img{
  width: 2.6rem;
  height: 2.6rem;
  margin-top: 22.45rem;
}