@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

.nav__container {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
  width: 13.2em;
  height: 80em;
  background-color: black;
  border-radius: 2.4em;
  margin: 2rem 0 2.3rem 3.2rem;
}

.nav__container__logo{
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 1.56rem;
    font-size: 6.4rem;
    font-weight: bold;
}

.nav__container__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;
  flex: 1;
  margin-left: 5.2em;
  margin-right: 5.2em;
  margin-top: 6.35em;
  justify-content: space-evenly;
}
.nav__container__icons--img {
  width: 2.6em;
  height: 2.6em;
}

.nav__container__logout{
  display: flex;
  flex: 1;
}